<h3>
  <%= type %>
</h3>

<%= simple_form_for [@garden, @garden_location] do |f| %>
  <%= f.input :city %>
  <%= f.input :street_name %>
  <%= f.input :postal_code %>
  <%= f.input :house_number %>
  <%= f.input :country %>
  <%= f.input :extra_information %>
  <%= f.submit %>
<% end %>
